
.checkbox {
    display: flex;
    justify-content: center;
}

.liferules {
    margin: 0px 20px
}

.lifecontrols {
    margin: 0px 20px
}

.select {
    font-size: 16px;
    position: relative;
    display: inline-block;
    select {
        outline: none;
        -webkit-appearance: none;
        display: block;
        padding: 0em 4em 0em 1em;
        margin: 0;
        
        transition: border-color 0.2s;
        border: 2px solid $dark;
        border-radius: 5px;
        
        background: #fff;
        color: $dark;
        line-height: normal;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
    .arr {
        background: #fff;
        bottom: 5px;
        position: absolute;
        right: 5px;
        top: 5px;
        width: 50px;
        pointer-events: none;
      }
      .arr:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 24px;
        margin-top: -5px;
        pointer-events: none;
        border-top: 10px solid $dark;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }
      
      .arr:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 28px;
        margin-top: -5px;
        pointer-events: none;
        border-top: 6px solid #fff;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }
}

button {
    padding: 3px;
    margin: 2px 0px;
    background-color: $light;
    color: $dark;
    outline: none;
    border: 2px solid $dark;
    border-radius: 5px;
    &:hover {
        background-color: $dark;
        color: $light;
    }
    &:active {
        transform: translateY(1px);
    }
}

.helptip {
    top: 18px;
    right: 18px;
    transform: translateY(12px);
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
    &:before {
        content:'?';
        font-weight: bold;
        color:#fff;
    }
    &:hover p {
        display: block;
        // transform-origin: 100% 0%;
        -webkit-animation: fadeIn 0.3s ease-in-out;
        animation: fadeIn 0.3s ease-in-out;
    }
    p {
        display: none;
        transform: translateY(-250px);
        text-align: left;
        background-color: #1E2021;
        padding: 20px;
        width: 300px;
        // position: absolute;
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        right: -4px;
        color: #FFF;
        font-size: 13px;
        line-height: 1.4;
    }
}

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

